.App {
  height:100vh;
  display: flex;
}

.App .teams {
  padding: 8vh;
  flex: 1;
}

.App .teams .team {
  text-align: center;
  font-size: 5vh;
  margin-bottom: 10px;
  border: 1px solid gray;
}

.reset {
  position: absolute;
  bottom: 0;
  right: 0;
}